.profile__info {
  display: flex;
  align-items: baseline;
  align-self: flex-end;
}
@media screen and (max-width: 675px) {
  .profile__info {
    font-size: 27px;
    line-height: 1.22;
    margin: 27px 0 0 28px;
  }
}
