.page {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Рендеринг */
  text-rendering: optimizeLegibility;
}
