.element__trash {
  width: 18px;
  height: 19px;
  transition: opacity 0.3s linear;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/element/trash.svg);
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.element__trash:hover {
  opacity: 0.5;
}
